<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="39e119dd-74d9-4fdd-9350-16ea4d832e39" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="39e119dd-74d9-4fdd-9350-16ea4d832e39fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
